.field.form-group
  = label_tag :q, 'Search'
  = text_field_tag :q, nil, class: 'form-control'
.actions.form-group
  = button_tag 'Get translations', id: 'translate', class: 'btn btn-default'
  = button_tag 'Add words', id: 'add-words',class: 'btn btn-default'

%table{class: 'table table-condensed table-hover'}
  %thead
    %th
      %span{class: 'glyphicon glyphicon-ok cursor-pointer select-all', 'aria-hidden': 'true'}
    %th
      Lang pair
    %th
      Part of speech
    %th
      Text
    %th
      Translation
  %tbody