%div{class: 'row'}
  - lang_code1, lang_code2 = @lang_pair
  %div{class: 'col-md-2'}
    =select_tag 'lang_code1', options_for_select(codes_and_languages(I18n.locale), lang_code1), class: 'form-control col-md-2'
  -#%div{class: 'col-md-1'}
  -#  %span{class: 'glyphicon glyphicon-transfer'}
  %div{class: 'col-md-2'}
    =select_tag 'lang_code2', options_for_select(codes_and_languages(I18n.locale), lang_code2), class: 'form-control col-md-2'
%div{class: 'alerts row'}