%div
  =select_tag 'lang_code1', options_for_select(codes_and_languages(I18n.locale)), class: 'form-control'
  =select_tag 'lang_code2', options_for_select(codes_and_languages(I18n.locale)), class: 'form-control'