%div{class: 'row'}
  - lang_code1, lang_code2 = @lang_pair
  %div{class: 'col-md-2'}
    =select_tag 'lang_code1', options_for_select(supported_languages_and_codes(@dict), lang_code1), class: 'language-select form-control col-md-2'
  -#%div{class: 'col-md-1'}
  -#  %span{class: 'glyphicon glyphicon-transfer'}
  %div{class: 'col-md-2'}
    =select_tag 'lang_code2', options_for_select(pairs_for_language(@dict, lang_code1 || I18n.locale), lang_code2), class: 'language-select form-control col-md-2'
%div{class: 'alerts row'}