%div{class: 'row'}
  %div{class: 'col-md-6 col-md-offset-3'}
    - lang_code1, lang_code2 = @lang_pair
    %div{class: 'input-group'}
      =select_tag 'lang_code1', options_for_select(supported_languages_and_codes(@dict), lang_code1), class: 'language-select selectpicker', 'data-live-search': true
      %span{class: 'input-group-addon cursor-pointer'}
        %i{class: 'glyphicon glyphicon-transfer glyphicon-resize-horizontal'}
      =select_tag 'lang_code2', options_for_select(pairs_for_language(@dict, lang_code1 || I18n.locale), lang_code2), class: 'language-select selectpicker', 'data-live-search': true
  %div{class: 'col-md-3'}
    %h4{class: 'text-right'}
      %span{class: 'text-info'}
        = "#{@user.name},"
      Words:
      %span{id: 'number-of-words', class: 'badge'}
        =number_of_words
      Score:
      %span{id: 'score', class: 'badge'}
        = @user.nil? ? 0 : @user.score
%ul{class: 'nav nav-tabs'}
  -{words_path => 'My vocabulary',
    new_word_path => 'Add word',
    words_play_path => 'Play',}.each do |path, text|
    %li{role: 'presentation', class: request.original_url.end_with?(path) ? 'active' : ''}
      =link_to text, path
%div{class: 'alerts row'}
